#loader{
    width: 80px;
    height: 80px;
    display: none;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;       /* heightの半分のマイナス値 */
    margin-left: -40px;      /* widthの半分のマイナス値 */
    z-index: 10;             /* #fadeより多い値を入れて下さい */
}

@media only screen and (max-device-width: 480px) {
    #loader {
        left: 40%;
    }
}

#fade{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;              /* #loaderより少ない値を入れて下さい */
}