.recruit-box {
    margin-left: 20%;
    font-size: 2.0vw;
}

.title {
    font-size: 2.5vw;
    border-left: solid 5px;
    padding: 2px 0 2px 10px;
}

.recruit-detail {
    padding: 40px 0;
}

.recruit-row {
    display: flex;
    width: 100%;
}

.recruit-row dt {
    padding: 5px 0;
    display: flex;
    width: 40%;
}

.recruit-row dd {
    padding: 5px 0;
    width: 60%;
}

.greet {
    font-size: 2.0vw;
    padding-top: 50px;
    text-align: center
}

.greet a{
    color: #FF4B80;
}

@media only screen and (max-device-width: 480px) {
    .recruit-box {
        margin-left: 10%;
        font-size: 5.0vw;
    }

    .title {
        font-size: 6.0vw;
    }

    .greet {
        width: 90%;
        margin: 0 auto;
        font-size: 1.0rem;
        padding: 0;
        text-align: left;
    }
}
